##############################################################################
*.sublime-workspace # Sublime
##############################################################################
*.umi               # Compiled C modules
##############################################################################
.#*                 # Emacs
##############################################################################
*~                  #
*.swp               #
*.swo               # Vim
##############################################################################

