# Sublime text
*.sublime-workspace

# Compiled C module 
*.umi

# Emacs 
.#*
*#

# Vim 
*~
*.swp
*.swo

# Other artifacts
tophat
tophat.exe

# Prof artifact
prof.json

# Windows stuff
.vs

# User data
user

# WASM bundle
wasm-out
